<h1 class="mt-4">Simple Sidebar</h1>
<p>The starting state of the menu will appear collapsed on smaller screens, and will non-collapsed on larger screens. When toggled using the button below the menu will change.</p>
<p>
    Make sure to keep all pag content within the 
    <code>#page-content-wrapper</code>
    . The top navbar is optional, and just for demonstration. Just create an element with the 
    <code>#sidebarToogle</code>
    ID which will tooggle the menu when clicked.
</p>